ion-view(view-title="Filter")
  ion-content(data-tap-disabled="true")
    .swiper-container.filters
      .swiper-wrapper
        .swiper-slide: img(src="assets/images/pug.jpg", alt="")
        .swiper-slide: img(src="assets/images/pug2.jpg", alt="")
        .swiper-slide: img(src="assets/images/pug3.jpg", alt="")
        .swiper-slide: img(src="assets/images/pug4.jpg", alt="")
    .swiper-container.filter-thumbs
      .swiper-wrapper
        .swiper-slide: img(src="assets/images/pug.jpg", alt="")
        .swiper-slide: img(src="assets/images/pug2.jpg", alt="")
        .swiper-slide: img(src="assets/images/pug3.jpg", alt="")
        .swiper-slide: img(src="assets/images/pug4.jpg", alt="")