ion-side-menus(enable-menu-with-back-views='false')
  ion-side-menu-content
    ion-nav-bar.bar-energized
      ion-nav-back-button
      h1.title Teste
      ion-nav-buttons(side='left')
        button.button.button-icon.button-clear.ion-navicon(menu-toggle='left')
    ion-nav-view(name='content')
  ion-side-menu(side='left')
    ion-header-bar.bar-energized
      h1.title Options
    ion-content
      ion-list
        ion-item(menu-close='', ng-click='login()')
          | Menu 1
        ion-item(menu-close='', href='#/app/')
          | Menu 2
        ion-item(menu-close='', href='#/app/')
          | Menu 3
        ion-item(menu-close='', href='#/app/')
          | Menu 4
        ion-item(menu-close='', href='#/app/')
          | Menu 5
  ion-tabs.tabs-energized.tabs-icon-only
    ion-tab(title='Pick', icon='ion-folder')
      // Tab 1 content
    ion-tab.take(title='Take', icon='ion-camera')
      // Tab 2 content
    ion-tab.tab-item-active(title='Fork!', icon='ion-social-github')
      // Tab 3 content

