ion-side-menus(enable-menu-with-back-views='false')
  ion-side-menu-content(drag-content="false")
    ion-nav-bar.bar-energized
      ion-nav-back-button
      ion-nav-buttons(side='left')
        button.button.button-icon.button-clear.ion-navicon(menu-toggle='left')
    ion-nav-view(name='content' drag-content="false")
  ion-side-menu(side='left')
    ion-header-bar.bar-energized
      h1.title Options
    ion-content
      ion-list
        ion-item(menu-close='', ng-click='login()')
          | Menu 1
        ion-item(menu-close='', href='#/app/')
          | Menu 2
        ion-item(menu-close='', href='#/app/')
          | Menu 3
        ion-item(menu-close='', href='#/app/')
          | Menu 4
        ion-item(menu-close='', href='#/app/')
          | Menu 5
  

