ion-view(view-title="Selfy")
  ion-tabs.tabs-energized.tabs-icon-only.tabs-bottom
    ion-tab(title='Pick', icon='ion-folder')
    ion-tab.take(title='Take', icon='ion-camera')
    ion-tab.tab-item-active(title='Fork!', icon='ion-social-github')