doctype html
html
head
  meta(charset="UTF-8")
  meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
  title Selfy

  link(rel="stylesheet", href="assets/libs/ionic/release/css/ionic.min.css")
  link(rel="stylesheet", href="assets/stylesheets/application.css")
  link(rel="stylesheet", href="assets/libs/swiper/dist/css/swiper.min.css")
body(ng-app="selfy")
  ion-nav-view

  script(src="assets/libs/ionic/release/js/ionic.bundle.min.js")
  script(src="assets/libs/caman/dist/caman.full.min.js")
  script(src="assets/libs/swiper/dist/js/swiper.min.js")
  script(src="cordova.js")
  script(src="application.js")
  