.take > .icon:before
  transform scale(1.8) translateY(-1px)

.tab-item
  opacity 1

.pane
  background-color #202020
  
.menu
  background-color rgba(26, 25, 25, 0.46)
  
.item
  background-color #1A1919
  color #fff
  border-color #202020
  
.item-complex .item-content
  background-color #1A1919
  
.item.activated,
.item .item-content.activated
  border-color #1A1919
